<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:action="@{/dashboard/register}" method="post" th:object="${user}">
    <div class="form-group">
        <label class="form-label">Username</label>
        <input
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter username"
                th:field="*{username}"
                type="text"
        />
        <p th:errors = "*{username}" class="text-danger"
           th:if="${#fields.hasErrors('username')}"></p>

    </div>
    <div class="form-group">
        <label class="form-label">Password</label>
        <input
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                th:field="*{password}"
                type="password"
        />
        <p th:errors = "*{password}" class="text-danger"
           th:if="${#fields.hasErrors('password')}"></p>

    </div>
    <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="role">
            <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
</body>
</html>