<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/general}"
>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<article layout:fragment="article">
    <section>
        <form th:action="@{/dashboard/register}" method="post" th:object="${userDto}">
            <p th:text="${message}"></p>
            <div class="form-group">
                <label class="form-label">Username</label>
                <input
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                        th:field="*{username}"
                        type="text"
                />
                <p th:errors="*{username}" class="text-danger"
                   th:if="${#fields.hasErrors('username')}"></p>

            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        th:field="*{password}"
                        type="password"
                />
                <p th:errors="*{password}" class="text-danger"
                   th:if="${#fields.hasErrors('password')}"></p>

            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <br/>
                <th:block th:each="role: ${roles}">
                    <input type="checkbox" name="selectedRoles" th:value="${role.id}" th:text="${role.name}">
                </th:block>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </section>
</article>
</body>
</html>