<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/general}"
>
<head>
    <title>Login</title>
</head>
<body>
<article layout:fragment="article">

    <section>
        <span th:text="${message}"></span>
        <div class="row col-md-10">
            <h2>List of Registered Users</h2>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td>
                    <th:block th:each="role: ${user.roles}">
                        <span th:text="${role.name}"></span>
                    </th:block>
                </td>
                <td>
                    <a th:href="@{'/dashboard/user/update/'+${user.id}}">Update</a>
                    <a th:href="@{'/dashboard/user/delete/'+${user.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

</article>
</body>
</html>