<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/general}"
>
<head>
    <title>
        Home
    </title>
</head>
<body>
<div layout:fragment="article">

    <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        <a href="/dashboard/admin">Admin Page</a>
    </div>
    <div sec:authorize="hasAnyAuthority('ROLE_SV')">
        <a th:href="@{/student/update}">Update Profile</a>
    </div>
    <div sec:authorize="hasAnyAuthority('ROLE_GV')">
        <a th:href="@{/teacher/update}">Update Profile</a>
    </div>
</div>
</body>
</html>