<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title th:replace="~{fragments/general :: title}">Login</title>
    <th:block th:insert="~{fragments/general :: link}"></th:block>
</head>
<body>

<div class="container">
    <div th:insert="~{fragments/general :: header}"></div>
    <div th:insert="~{fragments/general :: nav}"></div>
    <div class="content">
        <div th:replace="~{fragments/general :: aside}"></div>
        <article>
            <section>
                <form action="action_page.php" method="post">
                    <div>
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                </form>
            </section>
        </article>
    </div>
    <div th:insert="~{fragments/general :: footer}"></div>
</div>
</body>
</html>