<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/general}"
>
<head>
    <title>
        Reset password
    </title>
</head>

<article layout:fragment="article">
    <section>
        <form th:action="@{/user/update}" method="post" th:object="${user}">
            <div>

                <label for="password1"><b>New Password</b></label>
                <input type="password" placeholder="New Password" name="password1">



                <label for="newPassword"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="password2">


                <button type="submit">Update</button>
            </div>
        </form>
    </section>
</article>
</body>
</html>