<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/general}"
>
<head>
    <title>
        Update student profile
    </title>
</head>

<div layout:fragment="article">
    <section>
        <form th:action="@{/student/update}" method="post" th:object="${userProfile}">
            <div>
                <label for="uname"><b>User Id</b></label>
                <input type="text" placeholder="Enter User Id" th:field="*{user.id}" required>
                <p th:errors="*{user.id}" class="text-danger"
                   th:if="${#fields.hasErrors('user.id')}"></p>


                <label for="fname"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" th:field="*{firstName}" required>
                <p th:errors="*{firstName}" class="text-danger"
                   th:if="${#fields.hasErrors('firstName')}"></p>


                <label for="lname"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" th:field="*{lastName}" required>
                <p th:errors="*{lastName}" class="text-danger"
                   th:if="${#fields.hasErrors('lastName')}"></p>

                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Last Name" th:field="*{email}" required>
                <p th:errors="*{email}" class="text-danger"
                   th:if="${#fields.hasErrors('email')}"></p>

                <label for="dateOfBirth"><b>Date of birth</b></label>
                <input type="date" placeholder="Enter Date of Birth" th:field="*{dateOfBirth}" required>
                <p th:errors="*{dateOfBirth}" class="text-danger"
                   th:if="${#fields.hasErrors('dateOfBirth')}"></p>

                <label for="address1"><b>Address 1</b></label>
                <input type="text" placeholder="Enter Date of Birth" th:field="*{address1}" required>
                <p th:errors="*{address1}" class="text-danger"
                   th:if="${#fields.hasErrors('address1')}"></p>

                <label for="address2"><b>Address 2</b></label>
                <input type="text" placeholder="Enter Date of Birth" th:field="*{address2}" required>
                <p th:errors="*{address2}" class="text-danger"
                   th:if="${#fields.hasErrors('address2')}"></p>

                <label for="street"><b>Street</b></label>
                <input type="text" placeholder="Enter Date of Birth" th:field="*{street}" required>
                <p th:errors="*{street}" class="text-danger"
                   th:if="${#fields.hasErrors('street')}"></p>

                <label for="city"><b>City</b></label>
                <input type="text" placeholder="Enter City" th:field="*{city}" required>
                <p th:errors="*{city}" class="text-danger"
                   th:if="${#fields.hasErrors('city')}"></p>

                <label for="state"><b>State</b></label>
                <input type="text" placeholder="Enter City" th:field="*{state}" required>
                <p th:errors="*{state}" class="text-danger"
                   th:if="${#fields.hasErrors('state')}"></p>

                <label for="country"><b>Country</b></label>
                <input type="text" placeholder="Enter City" th:field="*{country}" required>
                <p th:errors="*{country}" class="text-danger"
                   th:if="${#fields.hasErrors('country')}"></p>

                <label for="country"><b>Country</b></label>
                <input type="text" placeholder="Enter City" th:field="*{country}" required>
                <p th:errors="*{country}" class="text-danger"
                   th:if="${#fields.hasErrors('country')}"></p>

                <label for="zipCode"><b>Zipcode</b></label>
                <input type="text" placeholder="Enter Zipcode" th:field="*{zipCode}" required>
                <p th:errors="*{zipCode}" class="text-danger"
                   th:if="${#fields.hasErrors('zipCode')}"></p>

                <button type="submit">Update</button>
            </div>
        </form>
    </section>
</div>
</body>
</html>