/**
 * Navigation
 */

nav {
  overflow: hidden;
  background-color: #333;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  .right {
    color: $background;
    display: flex;
    align-items: center;
    p{
      width: 200px;
    }
    input[type="submit"] {
      background: none !important;
      border: none;
      padding: 0 !important;
      /*optional*/
      font-family: arial, sans-serif;
      /*input has OS specific font-family*/
      color: $background;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #04aa6d;
  color: white;
}
